<div class="container">

  <div class="row">
    <div class="profile-card">

      <span class="user-color u-block"></span>

      <a class="user-avatar u-inlineBlock" href="/jcirionotero" title="Jesús Cirión Otero" tabindex="-1" aria-hidden="true">
        <img src="https://pbs.twimg.com/profile_images/633367525649215488/hv14xEQ3_bigger.jpg" alt="">
      </a>

      <div class="user-fields">
        <div class="name">
          <a href="/jcirionotero">Jesús Cirión Otero</a>
        </div>
        <span class="email" dir="ltr">
          <a>jcirionotero@gmail.com</a>
        </span>
      </div>

      <div class="user-stats">
        <label>Mensajes</label>
        <p>15</p>
      </div>

    </div>
  </div>

</div>
